<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <title>大事件</title>
    <meta name="author" content="Cambridge data" />
    <meta name="decription" content="社会舆情分析" />
    <meta name="keywords" content="社会舆情分析" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/eventCommon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/parent.css">
    <script src="/static/plugins/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
    <!--[if lte IE 8]> 
    <script src="/static/plugins/PIE-css3/PIE_IE678.js"></script>
    <script src="/static/plugins/PIE-css3/PIE_IE9.js"></script>
    <script src="/static/plugins/jquery-1.12.1.min.js"></script>
    <script src="/static/plugins/html5.js"></script>
    <![endif]--> 
    <!--[if IE 9]>
        <script src="/static/plugins/PIE-css3/PIE_IE678.js"></script>
        <script src="/static/plugins/PIE-css3/PIE_IE9.js"></script>
    <![endif]-->
    
</head>
<body>
<div id="wrapper">
    <div class="side-bar">
        <div class="nav-dots" id="navDots">
            <ul>
                <li class="current"><i></i><span>事件简介</span></li>
                <li><i></i><span>分析情感变化</span></li>
                <li><i></i><span>各大网站和情感占比</span></li>
                <li><i></i><span>事件发展</span></li>
            </ul>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div class="logo">
                <span id="logo"></span>
                <h1>事件舆情分析</h1>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/homepage.html?navId=0">主页</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="banner">
    </div>
    <div class="content">
        <div class="chart-block bar_chart">
            <div class="container">
                <h2>各大网站参与话题人数占比</h2>
                <div id="barChart"></div>
            </div>
        </div>
        <div class="chart-block pie-chart">
            <div class="container">
                <div class="pie pie-left">
                    <div id="pieChart1"></div>
                    <h3>各大网站参与话题人数占比</h3>
                </div>
                <div class="pie pie-right">
                    <div id="pieChart2"></div>
                    <h3>主要情绪占比(%)</h3>
                </div>
            </div>
        </div>
        <div id="sonEvent">
            <div class="container">
                <div class="line"></div>
                <ul></ul>
            </div>
        </div>
        <footer id="footer">
            <p>&copy; 2016 广东外语外贸大学 智能信息处理研究所 保留所有权利  <a href="#">关于我们</a></p>
        </footer>
    </div>

</div>
<script type="text/html" id="sonEventLi">
    <li>
        <div class="join_num">
            <span>{joinNum}</span>人参与话题
            <i></i>
        </div>
        <div class="image"><a href="/sonEvent.html?{id}"><img src="{pic}"></a></div>
        <div class="detail">
            <span>时间: {dateTime}</span>
            <h3><a href="/sonEvent.html?navId={navId}&eventId={id}">{title}</a></h3>
            <p>{abstract}</p>
        </div>
    </li>
</script>
<script type="text/html" id="bannerNews">
    <div class="container">
        <div class="picture"><img src="{picSrc}"></div>
        <div class="summary">
            <h4><span>{dateTime}</span><span><a>{title}</a></span></h4>
            <p class="describe">{abstract}</p>
        </div>
    </div>
</script>
<script type="text/html" id="colorBar">
    <li>
        <span style="background-color:{color}" class="color"></span>
        <div class="caption">
            <span>{name}</span>
            <strong>{data}</strong>
        </div>
    </li>
</script>
<script src="/static/js/common.js"></script>
<script src="/static/js/newsObj.js"></script>
<script src="/static/js/renderUtil.js"></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/parent.js"></script>
<script src="/static/js/animation.js"></script>
<script src="/static/js/nav-dots.js"></script>
</body>
</html>