#banner .parent a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding: 0 14px;
    border-radius: 4px;
    background-color: #3285c4;
    font-size: 18px;
}

.key-word{

}

.pie-chart{
    background-color: #fafafa;
}
.line-chart-time{
    background-color: #ffffff;
}

#comment{
    width: 100%;
    min-height: 300px;
    z-index: 99;
    background-color: #ffffff;
}
#comment .container{
    width: 980px;
    min-height: 300px;
    margin: 0 auto;
}
#comment .comment_num{
    display: inline-block;
    background-color: #3285c4;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    padding: 0 14px;
    margin-top: 40px;
    border-radius: 4px;
}
.comment_num span{
    margin-right: 6px;
}
#comment .com-content{
    margin-top: 20px;
}
#comment .com-content li{
    list-style: none;
    line-height: 25px;
    min-height: 25px;
    color: #666666;
    margin-bottom: 10px;
}
#comment .com-content li .time{
    color: #444444;
    margin-right: 4px;
}