

.bar_chart{
/*    position: absolute;
    top: 100%;*/
    width: 100%;
    height: 550px;
    background-color: #ffffff;
    z-index: 99;
}
.bar_chart .container{
    position: relative;
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
/*.bar_chart h2{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: normal;
}*/
/*#barChart{
    position: absolute;
    top: 60%;
    margin-top: -170px;
    width: 100%;
    height: 400px;
    opacity: 0;

}*/

.color{
    display: block;
    width: 100%;
    height: 12px;
}

#sonEvent{
    /*position: absolute;
    top: 300%;*/
    width: 100%;
    /*min-height: 550px;*/
    background-color: #ffffff;

}
#sonEvent .container{
    position: relative;
    width: 980px;
    height: 100%;
    margin: 0 auto;
    z-index: 99;
}
#sonEvent .container .line{
    position: absolute;
    top: 60px;
    left: 174px;
    width: 2px;
    height: 100%;
    background-color: #C0C0C2;
}
#sonEvent ul{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
#sonEvent ul li{
    list-style: none;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}
#sonEvent .join_num{
    width: 180px;
    height: 100%;
    float: left;
    line-height: 120px;
    font-size: 14px;
}
.join_num span{
    display: inline-block;
    width: 67px;
    color: #3285c4;
    text-align: right;
    margin-right: 6px;

}
.join_num i{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #C0C0C2;
    border-radius: 50%;
    margin-left: 20px;
}
#sonEvent li .image{
    float: left;
    width: 160px;
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
}
.image img{
    width: 100%;
}
#sonEvent .detail{
    width: 600px;
    height: 100%;
    float: left;
    margin-left: 20px;

}
.detail span{
    color: #4d4d4d;
    font-size: 16px;
}
.detail h3{
    margin-top: 18px;
}
.detail h3 a{
    display: block;
    width: 600px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color: #3285c4;
    font-size: 16px;
    text-decoration: none;
}
.detail h3 a:hover{
    text-decoration: underline;
}
.detail p{
    width: 100%;
    height: 60px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}